@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Senior Connect</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house fa-lg" style="margin-right: 16px"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="device">
                <i class="fa-solid fa-house-laptop fa-lg" style="margin-right: 16px"></i> Meus Dispositivos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lembrete">
                <i class="fa-solid fa-bell fa-lg" style="margin-right: 16px"></i> Meus Lembretes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="medicamento">
                <i class="fa-solid fa-pills fa-lg" style="margin-right: 16px"></i> Meus Medicamentos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="#" class="nav-link" @onclick=FazerLogout>
                <i class="fa-solid fa-right-from-bracket fa-lg" style="margin-right: 16px"></i> Fazer Logout
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private async Task FazerLogout()
    {
        await (AuthenticationStateProvider as UsuarioAuthenticationStateProvider).SetAuthenticationStateAsync(null);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
