@page "/usuario/criarUsuario"
@attribute [AllowAnonymous]
@layout EmptyLayout;

<h1>Novo Usuário</h1>

<Loading IsLoading="@processing" Align="center">
    <EditForm Model="@usuario" OnValidSubmit="CriarUsuario">
        <DataAnnotationsValidator />
        <label for="username">Username:</label>
        <input @bind="usuario.Usuario">
        <ValidationMessage For="@(() => usuario.Usuario)" />
        <br />
        <label for="password">Password:</label>
        <input type="password" @bind="usuario.Senha">
        <br />
        <ValidationMessage For="@(() => usuario.Senha)" />
        <button type="submit">Criar Usuário</button>
    </EditForm>
</Loading>


@code {
    protected UsuarioTO usuario = new UsuarioTO();
    
    protected bool processing;

    protected async Task CriarUsuario()
    {
        processing = true;
        var resposta = await ApiCallHelper.Post<UsuarioModel, UsuarioTO>("Usuario/v1/Create", usuario);
        processing = false;

        if (resposta.Sucesso)
            NavigationManager.NavigateTo("usuario/login");
    }
}
